{% extends 'base.html.twig' %}

{% block title %}Upload an image!{% endblock %}

{% block body %}

    <div class="container">

        <div class="mb-2 p-2 bg-white">

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                {% for upload in uploads %}
                <tr>
                    <td>{{ upload.id }}</td>
                    <td>{{ upload.name }}</td>
                    <td>
                    {% if upload.status == "initial" %}
                        <span class="badge badge-warning">{{ upload.status }}</span>
                    {% elseif upload.status == "handled" %}                
                        <span class="badge badge-success">{{ upload.status }}</span>
                    {% else %}                
                        <span class="badge badge-primary">{{ upload.status }}</span>
                    {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('clear-uploads') }}" class="btn btn-outline-primary btn-sm">Download</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
        <form action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">

            <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

            <div>
                <label for="myfile">File to upload:</label>
                <input type="file" name="myfile" id="myfile">
            </div>

            <button type="submit" class="btn btn-outline-primary btn-sm">Send</button>
        
        </form>

        <a href="{{ path('clear-uploads') }}" class="mt-2 btn btn-outline-danger btn-sm">Clear all</a>

    </div>

{% endblock %}
