{% extends 'base.html.twig' %}

{% block title %}List of all orders{% endblock %}

{% block body %}

{% include('navbar.html.twig') %}

<div class="container">

    <div class="mb-2 p-2 bg-white">

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>
                {% if order.status == "initial" %}
                    <span class="badge badge-warning">{{ order.status }}</span>
                {% elseif order.status == "handled" %}                
                    <span class="badge badge-success">{{ order.status }}</span>
                {% else %}                
                    <span class="badge badge-primary">{{ order.status }}</span>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="mb-2 p-2 bg-white">
                <a href="{{ path('order') }}"
                class="btn btn-outline-primary btn-sm">Place order</a>
            </div>

            <div class="mb-2 p-2 bg-white">
                <a href="{{ path('clear') }}"
                class="btn btn-outline-danger btn-sm">Clear all</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}